/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1.5rem;
  padding: 20px 40px;
  margin-top: 20px;
  cursor: grab;
}

button:disabled {
  cursor: not-allowed;
  background-color: grey;
}
